a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}

h2 {
  font-weight: bold !important;
}

.col-2:hover {
  filter: brightness(125%);
}

.heading {
  font-weight: bold;
  color: #ffffff; 
  font-size: 36px; 
  font-family: 'Arial';
  display:inline-block;
  vertical-align: middle;
  margin-right: 48px;
}

.header-item {
  color: #ffffff; 
  font-size: 20px; 
  font-family: 'Arial';
  display:inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.header-container {
  background-color: #1f2b30;
}

.logo {
  max-width: 64px;
  margin: 10px;
}

.champion-select {
  margin-bottom: 28px;
  color: white;
  cursor: pointer;
  border-left: solid 1px ;
  border-right: solid 1px ;
  border-color: #54676e;
  background-color: #1f2b30;
}

.champion-icon {
  margin-top: 28px;
}

.champion-chosen {
  height: 300px;
  width: 200px;
  margin: 40px auto;
  overflow: auto;
  border-left: solid 1px ;
  border-right: solid 1px ;
  /* border-color: #54676e; */
  border-color: #dbc88a;
}

.champion-stats {
  margin-bottom: 25px;
}

.champion-info {
  margin-bottom: 28px;
  color: white;
  cursor: pointer;
  border-left: solid 1px ;
  border-right: solid 1px ;
  border-color: #54676e;
  background-color: #1f2b30;
  height: 248px !important;
}

.champion-info:hover {
  filter: brightness(125%)
}

.champion-name {
  font-weight: bold !important;
  margin: 2px;
  text-decoration: none;
  color: white;
}

.win {
  color: #00b7b7;
}

.loss {
 color: #ff5358;
}

.winrate {
  color: #dbc88a
}