a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}

h2 {
  font-weight: bold !important;
}

p {
  font-size: 20px;
  text-align: left;
}

.prompt {
  color: white;
  text-align: left;
}

.prompt h1 {
  font-size: 48px;
  font-weight: bold;
}

.prompt p{
  color: white;
  text-align: left;
  font-size: 24px;
}

.prompt {
  color: white;
  text-align: left;
}

.champion-select:hover {
  filter: brightness(125%);
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.overflow {
  overflow: hidden;
}

.heading {
  font-weight: bold;
  color: #ffffff; 
  font-size: 36px; 
  font-family: 'Arial';
  display:inline-block;
  vertical-align: middle;
}

.header-item {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Arial';
  display:inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.header-container {
  background-color: #1f2b30;
  margin-bottom: 50px;
}

.logo {
  max-width: 64px;
  margin: 10px;
}

.loading {
  color: white;
  font-size: 40px;
}

.about-header {
  border-color: #7b97cc;
  border-left: 1px solid #7b97cc;
  border-right: 1px solid #7b97cc;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
}

.about-header h1 {
  font-weight: bold;
}

.about-link {
  color: #7b97cc !important;
}

.champion-select {
  margin-bottom: 28px;
  color: white;
  cursor: pointer;
  border-left: solid 1px ;
  border-right: solid 1px ;
  border-color: #54676e;
  background-color: #1f2b30;
}

.champion-icon {
  margin-top: 28px;
}

.champion-chosen {
  height: 300px;
  width: 200px;
  margin: 40px auto;
  overflow: auto;
  border-left: solid 1px ;
  border-right: solid 1px ;
  /* border-color: #54676e; */
  border-color: #dbc88a;
  overflow: hidden;
}

.champion-stats {
  margin-bottom: 25px;
}

.best-team > div:first-child {
  border-left: 1px solid #dbc88a;
}

.best-team > div:last-child {
  border-right: 1px solid #dbc88a;
}

.best-teams-header {
  border-left: 1px solid #dbc88a;
  border-bottom-color: #dbc88a;
  border-right: 1px solid #dbc88a;
  border-top-color: #dbc88a;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.best-teams-stats {
  margin-bottom: 25px;
}

.champion-info {
  margin-bottom: 28px;
  color: white;
  cursor: pointer;
  border-left: solid 1px ;
  border-right: solid 1px ;
  border-color: #54676e;
  background-color: #1f2b30;
  height: 248px !important;
}

.champion-info:hover {
  filter: brightness(125%)
}

.champion-name {
  font-weight: bold !important;
  margin: 2px;
  text-decoration: none;
  color: white;
}

.win {
  color: #00b7b7;
}

.loss {
 color: #ff5358;
}

.winrate {
  color: #dbc88a
}